<p id="notice"><%= notice %></p>

<p>
  <b>Start:</b>
  <%= @schedule_plan.start %>
</p>

<p>
  <b>End:</b>
  <%= @schedule_plan.end %>
</p>

<p>
  <b>Doctor:</b>
  <%= @schedule_plan.doctor %>
</p>


<%= link_to 'Edit', edit_schedule_plan_path(@schedule_plan) %> |
<%= link_to 'Back', schedule_plans_path %>
