<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @patient.username %>
</p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @patient.birthdate %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>

<p>
  <b>Male:</b>
  <%= @patient.male %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
