<%= form_for(@doctor, :url => doctor_path, :html => { :multipart => true }) do |f| %>
  <% if @doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% @doctor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate %>
  </div>
  <div class="field">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.hidden_field :type %>
  </div>
  
  <div class="field">
    <%= f.label :specialties =%><br />
    <% for specialty in Specialty.all %>
      <% if @doctor.specialties.include?(specialty) %>
        <%= check_box_tag 'specialty_ids[]', specialty.id, true  =%>
      <% else %>
        <%= check_box_tag 'specialty_ids[]', specialty.id, false =%>
      <% end %>
      <%= label_tag specialty.name %><br />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
