<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @doctor.username %>
</p>

<p>
  <b>Name:</b>
  <%= @doctor.name %> </p> <p> <b>Birthdate:</b>
  <%= @doctor.birthdate %>
</p>

<p>
  <b>Photo:</b>
  <%= @doctor.photo %>
</p>

<p>
  <b>Specialties:</b>
  <ul>
  <% @doctor.specialties.each do |specialty| %>
    <li><%= link_to specialty.name, specialty_path(specialty) %> </li>
  <% end %>
  </ul>
</p>

<p>
  <b>Appointments:</b>
  <% if not @doctor.appointments.empty? %>
  <table>
    <tr>
      <th>Date</th>
      <th>Duration</th>
      <th>Patient</th>
    </tr>
    <% @doctor.appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.date %></td>
      <td><%= appointment.duration %></td>
      <td><%= link_to appointment.patient.name, patient_path(appointment.patient) %></td>
    </tr>
    <% end %>
  </table>
  <% end %>
</p>

<p>
  <b>Schedule Plans:</b>
  <% if not @doctor.schedule_plans.empty? %>
    <% @doctor.schedule_plans.each do |schedule_plan| %>

  <ul>
    <li>Id: <%= link_to schedule_plan.id, schedule_plan_path(schedule_plan) %></li>
    <li>Start: <%= schedule_plan.start %></li>
    <li>End: <%= schedule_plan.end %></li>
  </ul>

    <% if not schedule_plan.schedules.empty? %>
  <table>
    <tr>
      <th>Weekday</th>
      <th>Start</th>
      <th>End</th>
      <th>Schedule</th>
    </tr>
        <% schedule_plan.schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.weekday %></td>
      <td><%= schedule.start %></td>
      <td><%= schedule.end %></td>
      <td><%= link_to schedule.id, schedule_path(schedule) %></td>
    </tr>
        <% end %>
      <% end %>
  </table>

    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
