<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @doctor.username %>
</p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @doctor.birthdate %>
</p>

<p>
  <b>Photo:</b>
  <%= @doctor.photo %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
