<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @doctor.username %>
</p>

<p>
  <b>Name:</b>
  <%= @doctor.name %> </p> <p> <b>Birthdate:</b>
  <%= @doctor.birthdate %>
</p>

<p>
  <b>Photo:</b>
  <%= @doctor.photo %>
</p>

<p>
  <b>Specialties:</b>
  <ul>
  <% @doctor.specialties.each do |specialty| %>
    <li><%= link_to specialty.name, specialty_path(specialty) %> </li>
  <% end %>
  </ul>
</p>

<% if not @doctor.schedule_plans.empty? %>
<p>
  <b>Schedule Plan:</b>
  <ul>
    <li>Start:<%= @doctor.schedule_plans.start %></li>
    <li>End:<%= @doctor.schedule_plans.end %></li>
  </ul>

  <table>
    <tr>
      <th>Weekday</th>
      <th>Start</th>
      <th>End</th>
    </tr>
    <% @doctor.schedule_plans.schedule.each do |schedule| %>
    <tr>
      <td><%= schedule.weekday %></td>
      <td><%= schedule.start %></td>
      <td><%= schedule.end %></td>
    </tr>
    <% end %>
  </table>
</p>
<% end %>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
