<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @doctor.username %>
</p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @doctor.birthdate %>
</p>

<p>
  <b>Photo:</b>
  <%= @doctor.photo %>
</p>

<p>
  <b>Specialties:</b>
  <ul>
  <% @doctor.specialties.each do |specialty| %>
    <li><%= link_to specialty.name, specialty_path(specialty) %> </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
