<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Duration:</b>
  <%= @appointment.duration %>
</p>

<p>
  <b>Patient:</b>
  <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
</p>

<p>
  <b>Doctor:</b>
  <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
