<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>

<p>
  <b>Duration:</b>
  <%= @appointment.duration %>
</p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient.name %>
</p>

<p>
  <b>Doctor:</b>
  <%= @appointment.doctor.name %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
